<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nothing found</title>
</head>
<style>
    a{
        text-decoration: none;
    }
    a:link{
        color: chartreuse;
    }
    a:visited{
        color: purple;
    }
    a:hover{
        color: darkgreen;
    }
</style>
<body style="background: #202020; font-size: large;color: white;text-align: center;">

<p style="margin-top: 10%">Nothing found on this page.</p>
<a href="/JavaCompiler/CodeEditor">Java Compiler</a>
</body>
</html>